<html>
   <head>
      <style>body{font-size:100%;}</style>
      <style>/*! CSS Used from: https://www.paypalobjects.com/web/res/087/9f731d8bcedd5b7e7a3975c024278/css/contextualLoginElementalUIv4.css */
         @media all and (max-width: 767px){
         *{-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;}
         }
         .notifications{outline:0;margin-bottom:10px;font-size:13px;}
         .notifications .notification{margin:0;padding:15px 15px 15px 44px;-webkit-border-radius:5px;-moz-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;border-width:1px;border-style:solid;text-align:left;font-size:1em;background:url("https://www.paypalobjects.com/images/shared/icon_alert_sprite-2x.png") no-repeat;background-size:20px;}
         .notifications .notification.notification-critical{background-color:#fff7f7;background-position:12px -387px;background-position:left 12px top -387px;border-color:#c72e2e;}
         p{margin:20px 0;font-family:"pp-sans-big-regular", Helvetica Neue, Arial, sans-serif;font-weight:normal;font-variant:normal;color:#001435;}
         p,div{font-family:"pp-open-regular", Helvetica Neue, Arial, sans-serif;font-style:normal;font-display:swap;}
         *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
         *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
         /*! CSS Used fontfaces */
         @font-face{font-family:"pp-sans-big-regular";src:url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Regular.eot");src:url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Regular.eot?#iefix") format("embedded-opentype"), url("https://www.paypalobjects.com/paypal-ui/fonts/PayPalSansBig-Regular.woff2") format("woff2"), url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Regular.svg") format("svg");}
         @font-face{font-family:"pp-open-regular";src:url('https://www.paypalobjects.com/paypal-ui/fonts/PayPalOpen-Regular.woff2') format('woff2'), url('https://www.paypalobjects.com/paypal-ui/fonts/PayPalOpen-Regular.woff') format('woff');}
      </style>
   </head>
   <body>
      <div class="notifications">
         <p class="notification notification-critical" role="alert">Please check your entries and try again.</p>
      </div>
   </body>
</html>