<html>
   <head>
      <style>body{font-size:100%;}</style>
      <style>/*! CSS Used from: https://checkout.spotifycdn.com/hosted-checkout/_next/static/css/4f4dbb83f19e0b68.css */
         .encore-light-theme>*{--parents-essential-base:#000;}
         /*! CSS Used from: Embedded */
         *{box-sizing:border-box;}
         ::before,::after{box-sizing:border-box;}
         input,button{font-family:var(--encore-body-font-stack);}
         /*! CSS Used from: Embedded */
         #onetrust-pc-sdk .ot-close-icon{background-size:contain;background-repeat:no-repeat;background-position:center;height:12px;width:12px;}
         #onetrust-pc-sdk .ot-pc-footer-logo a{background-size:contain;background-repeat:no-repeat;background-position:center;height:25px;width:152px;display:block;text-decoration:none;font-size:.75em;}
         #onetrust-pc-sdk .ot-pc-footer-logo a:hover{color:#565656;}
         #onetrust-pc-sdk button *{font-size:inherit;font-weight:inherit;color:inherit;}
         #onetrust-pc-sdk .ot-hide{display:none!important;}
         #onetrust-pc-sdk button.ot-link-btn:hover{text-decoration:underline;opacity:1;}
         #onetrust-pc-sdk .ot-sdk-row .ot-sdk-column{padding:0;}
         #onetrust-pc-sdk .ot-sdk-row{flex-direction:initial;width:100%;}
         #onetrust-pc-sdk [type=checkbox]:checked,#onetrust-pc-sdk [type=checkbox]:not(:checked){pointer-events:initial;}
         #onetrust-pc-sdk [type=checkbox]:disabled+label::before,#onetrust-pc-sdk [type=checkbox]:disabled+label:after,#onetrust-pc-sdk [type=checkbox]:disabled+label{pointer-events:none;opacity:.8;}
         #onetrust-pc-sdk input{margin:3px .1ex;}
         #onetrust-pc-sdk .ot-pc-logo{height:60px;width:180px;background-position:center;background-size:contain;background-repeat:no-repeat;display:inline-flex;justify-content:center;align-items:center;}
         #onetrust-pc-sdk .ot-pc-logo img{max-height:100%;max-width:100%;}
         #onetrust-pc-sdk .ot-scrn-rdr{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
         #onetrust-pc-sdk.ot-fade-in,.onetrust-pc-dark-filter.ot-fade-in{animation-name:onetrust-fade-in;animation-duration:400ms;animation-timing-function:ease-in-out;}
         .onetrust-pc-dark-filter{background:rgba(0,0,0,.5);z-index:2147483646;width:100%;height:100%;overflow:hidden;position:fixed;top:0;bottom:0;left:0;}
         @media only screen and (min-width: 426px)and (max-width: 896px)and (orientation: landscape){
         #onetrust-pc-sdk p{font-size:.75em;}
         }
         #onetrust-pc-sdk .ot-pc-footer-logo img{width:136px;height:16px;}
         #onetrust-pc-sdk .ot-optout-signal{border:1px solid #32ae88;border-radius:3px;padding:5px;margin-bottom:10px;background-color:#f9fffa;font-size:.85rem;line-height:2;}
         #onetrust-pc-sdk .ot-optout-signal .ot-optout-icon{display:inline;margin-right:5px;}
         #onetrust-pc-sdk .ot-optout-signal svg{height:20px;width:30px;transform:scale(0.5);}
         #onetrust-pc-sdk .ot-optout-signal svg path{fill:#32ae88;}
         #onetrust-pc-sdk{font-size:16px;}
         #onetrust-pc-sdk *,#onetrust-pc-sdk ::after,#onetrust-pc-sdk ::before{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
         #onetrust-pc-sdk div,#onetrust-pc-sdk span,#onetrust-pc-sdk h2,#onetrust-pc-sdk h3,#onetrust-pc-sdk h4,#onetrust-pc-sdk p,#onetrust-pc-sdk img,#onetrust-pc-sdk svg,#onetrust-pc-sdk button,#onetrust-pc-sdk section,#onetrust-pc-sdk a,#onetrust-pc-sdk label,#onetrust-pc-sdk input,#onetrust-pc-sdk #ot-pc-content{font-family:inherit;font-weight:normal;-webkit-font-smoothing:auto;letter-spacing:normal;line-height:normal;padding:0;margin:0;height:auto;min-height:0;max-height:none;width:auto;min-width:0;max-width:none;border-radius:0;border:none;clear:none;float:none;position:static;bottom:auto;left:auto;right:auto;top:auto;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;white-space:normal;background:none;overflow:visible;vertical-align:baseline;visibility:visible;z-index:auto;box-shadow:none;}
         #onetrust-pc-sdk label:before,#onetrust-pc-sdk label:after{content:"";content:none;}
         #onetrust-pc-sdk .ot-sdk-column{width:100%;float:left;box-sizing:border-box;padding:0;display:initial;}
         @media (min-width: 550px){
         #onetrust-pc-sdk .ot-sdk-column{margin-left:4%;}
         #onetrust-pc-sdk .ot-sdk-column:first-child{margin-left:0;}
         }
         #onetrust-pc-sdk h2,#onetrust-pc-sdk h3,#onetrust-pc-sdk h4{margin-top:0;font-weight:600;font-family:inherit;}
         #onetrust-pc-sdk h2{font-size:1.5rem;line-height:1.25;}
         #onetrust-pc-sdk h3{font-size:1.5rem;line-height:1.3;}
         #onetrust-pc-sdk h4{font-size:1.5rem;line-height:1.35;}
         @media (min-width: 550px){
         #onetrust-pc-sdk h2{font-size:1.5rem;}
         #onetrust-pc-sdk h3{font-size:1.5rem;}
         #onetrust-pc-sdk h4{font-size:1.5rem;}
         }
         #onetrust-pc-sdk p{margin:0 0 1em 0;font-family:inherit;line-height:normal;}
         #onetrust-pc-sdk a{color:#565656;text-decoration:underline;}
         #onetrust-pc-sdk a:hover{color:#565656;text-decoration:none;}
         #onetrust-pc-sdk button{margin-bottom:1rem;font-family:inherit;}
         #onetrust-pc-sdk button{display:inline-block;height:38px;padding:0 30px;color:#555;text-align:center;font-size:.9em;font-weight:400;line-height:38px;letter-spacing:.01em;text-decoration:none;white-space:nowrap;background-color:rgba(0,0,0,0);border-radius:2px;border:1px solid #bbb;cursor:pointer;box-sizing:border-box;}
         #onetrust-pc-sdk :not(.ot-leg-btn-container)>button:not(.ot-link-btn):hover,#onetrust-pc-sdk :not(.ot-leg-btn-container)>button:not(.ot-link-btn):focus{color:#333;border-color:#888;opacity:.7;}
         #onetrust-pc-sdk :not(.ot-leg-btn-container)>button:focus{outline:2px solid #000;}
         #onetrust-pc-sdk input[type=text]{height:38px;padding:6px 10px;background-color:#fff;border:1px solid #d1d1d1;border-radius:4px;box-shadow:none;box-sizing:border-box;}
         #onetrust-pc-sdk input[type=text]{-webkit-appearance:none;-moz-appearance:none;appearance:none;}
         #onetrust-pc-sdk input[type=text]:focus{border:1px solid #000;outline:0;}
         #onetrust-pc-sdk label{display:block;margin-bottom:.5rem;font-weight:600;}
         #onetrust-pc-sdk input[type=checkbox]{display:inline;}
         #onetrust-pc-sdk button{margin-bottom:1rem;font-family:inherit;}
         #onetrust-pc-sdk .ot-sdk-row:after{content:"";display:table;clear:both;}
         #onetrust-pc-sdk .ot-sdk-row{margin:0;max-width:none;display:block;}
         #onetrust-pc-sdk .ot-pc-logo{display:none!important;}
         #onetrust-pc-sdk .ot-pc-footer-logo{display:none!important;}
         #onetrust-pc-sdk .save-preference-btn-handler{text-align:left!important;margin-left:20px!important;border-color:#1DB954!important;background-color:#1DB954!important;text-transform:uppercase;font-size:14px;letter-spacing:0.1em;}
         #onetrust-pc-sdk.otPcCenter{overflow:hidden;position:fixed;margin:0 auto;top:5%;right:0;left:0;width:40%;max-width:575px;min-width:575px;border-radius:2.5px;z-index:2147483647;background-color:#fff;-webkit-box-shadow:0px 2px 10px -3px #999;-moz-box-shadow:0px 2px 10px -3px #999;box-shadow:0px 2px 10px -3px #999;}
         #onetrust-pc-sdk .ot-optout-signal{margin-top:.625rem;}
         #onetrust-pc-sdk .ot-pc-header{height:39px;padding:10px 0 10px 30px;border-bottom:1px solid #e9e9e9;}
         #onetrust-pc-sdk #ot-pc-title,#onetrust-pc-sdk #ot-category-title,#onetrust-pc-sdk .ot-cat-header,#onetrust-pc-sdk #ot-lst-title,#onetrust-pc-sdk .ot-always-active{font-weight:bold;color:dimgray;}
         #onetrust-pc-sdk .ot-always-active-group .ot-cat-header{width:55%;font-weight:700;}
         #onetrust-pc-sdk .ot-cat-item p{clear:both;float:left;margin-top:10px;margin-bottom:5px;line-height:1.5;font-size:.812em;color:dimgray;}
         #onetrust-pc-sdk .ot-close-icon{height:44px;width:44px;background-size:10px;}
         #onetrust-pc-sdk #ot-pc-title{float:left;font-size:1em;line-height:1.5;margin-bottom:10px;margin-top:10px;width:100%;}
         #onetrust-pc-sdk #accept-recommended-btn-handler{margin-right:10px;margin-bottom:25px;outline-offset:-1px;}
         #onetrust-pc-sdk #ot-pc-desc{clear:both;width:100%;font-size:.812em;line-height:1.5;margin-bottom:25px;}
         #onetrust-pc-sdk #ot-pc-desc a{margin-left:5px;}
         #onetrust-pc-sdk #ot-pc-desc *{font-size:inherit;line-height:inherit;}
         #onetrust-pc-sdk a{color:#656565;cursor:pointer;}
         #onetrust-pc-sdk a:hover{color:#3860be;}
         #onetrust-pc-sdk label{margin-bottom:0;}
         #onetrust-pc-sdk button{max-width:394px;padding:12px 30px;line-height:1;word-break:break-word;word-wrap:break-word;white-space:normal;font-weight:bold;height:auto;}
         #onetrust-pc-sdk .ot-link-btn{padding:0;margin-bottom:0;border:0;font-weight:normal;line-height:normal;width:auto;height:auto;}
         #onetrust-pc-sdk #ot-pc-content{position:absolute;overflow-y:scroll;padding-left:0px;padding-right:30px;top:60px;bottom:110px;margin:1px 3px 0 30px;width:calc(100% - 63px);}
         #onetrust-pc-sdk .ot-cat-grp .ot-always-active{float:right;clear:none;color:#3860be;margin:0;font-size:.813em;line-height:1.3;}
         #onetrust-pc-sdk .ot-pc-scrollbar::-webkit-scrollbar-track{margin-right:20px;}
         #onetrust-pc-sdk .ot-pc-scrollbar::-webkit-scrollbar{width:11px;}
         #onetrust-pc-sdk .ot-pc-scrollbar::-webkit-scrollbar-thumb{border-radius:10px;background:#d8d8d8;}
         #onetrust-pc-sdk .ot-pc-scrollbar{scrollbar-arrow-color:#d8d8d8;scrollbar-darkshadow-color:#d8d8d8;scrollbar-face-color:#d8d8d8;scrollbar-shadow-color:#d8d8d8;}
         #onetrust-pc-sdk .save-preference-btn-handler{margin-right:20px;}
         #onetrust-pc-sdk #ot-pc-desc .privacy-notice-link{margin-left:0;margin-right:8px;}
         #onetrust-pc-sdk .ot-pc-logo{height:40px;width:120px;}
         #onetrust-pc-sdk .ot-pc-footer{position:absolute;bottom:0px;width:100%;max-height:160px;border-top:1px solid #d8d8d8;}
         #onetrust-pc-sdk .ot-pc-footer-logo{height:30px;width:100%;text-align:right;background:#f4f4f4;}
         #onetrust-pc-sdk .ot-pc-footer-logo a{display:inline-block;margin-top:5px;margin-right:10px;}
         #onetrust-pc-sdk .ot-tgl{float:right;position:relative;z-index:1;}
         #onetrust-pc-sdk .ot-tgl input:checked+.ot-switch .ot-switch-nob{background-color:#468254;border:1px solid #fff;}
         #onetrust-pc-sdk .ot-tgl input:checked+.ot-switch .ot-switch-nob:before{-webkit-transform:translateX(20px);-ms-transform:translateX(20px);transform:translateX(20px);background-color:#fff;border-color:#fff;}
         #onetrust-pc-sdk .ot-tgl input:focus+.ot-switch{outline:#000 solid 1px;}
         #onetrust-pc-sdk .ot-switch{position:relative;display:inline-block;width:45px;height:25px;}
         #onetrust-pc-sdk .ot-switch-nob{position:absolute;cursor:pointer;top:0;left:0;right:0;bottom:0;background-color:#767676;border:1px solid #ddd;transition:all .2s ease-in 0s;-moz-transition:all .2s ease-in 0s;-o-transition:all .2s ease-in 0s;-webkit-transition:all .2s ease-in 0s;border-radius:20px;}
         #onetrust-pc-sdk .ot-switch-nob:before{position:absolute;content:"";height:18px;width:18px;bottom:3px;left:3px;background-color:#fff;-webkit-transition:.4s;transition:.4s;border-radius:20px;}
         #onetrust-pc-sdk .ot-chkbox input:checked~label::before{background-color:#3860be;}
         #onetrust-pc-sdk .ot-chkbox input+label::after{content:none;color:#fff;}
         #onetrust-pc-sdk .ot-chkbox input:checked+label::after{content:"";}
         #onetrust-pc-sdk .ot-chkbox input:focus+label::before{outline-style:solid;outline-width:2px;outline-style:auto;}
         #onetrust-pc-sdk .ot-chkbox label{position:relative;display:inline-block;padding-left:30px;cursor:pointer;font-weight:500;}
         #onetrust-pc-sdk .ot-chkbox label::before,#onetrust-pc-sdk .ot-chkbox label::after{position:absolute;content:"";display:inline-block;border-radius:3px;}
         #onetrust-pc-sdk .ot-chkbox label::before{height:18px;width:18px;border:1px solid #3860be;left:0px;top:auto;}
         #onetrust-pc-sdk .ot-chkbox label::after{height:5px;width:9px;border-left:3px solid;border-bottom:3px solid;transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);left:4px;top:5px;}
         #onetrust-pc-sdk .ot-label-txt{display:none;}
         #onetrust-pc-sdk .ot-chkbox input,#onetrust-pc-sdk .ot-tgl input{position:absolute;opacity:0;width:0;height:0;}
         #onetrust-pc-sdk .ot-arw-cntr{float:right;position:relative;pointer-events:none;}
         #onetrust-pc-sdk .ot-arw-cntr .ot-arw{width:16px;height:16px;margin-left:5px;color:dimgray;display:inline-block;vertical-align:middle;-webkit-transition:all 150ms ease-in 0s;-moz-transition:all 150ms ease-in 0s;-o-transition:all 150ms ease-in 0s;transition:all 150ms ease-in 0s;}
         #onetrust-pc-sdk .ot-arw-cntr{display:inline-block;}
         #onetrust-pc-sdk .ot-label-status{padding-left:5px;font-size:.75em;display:none;}
         #onetrust-pc-sdk .ot-arw-cntr{margin-top:-1px;}
         #onetrust-pc-sdk .ot-arw-cntr svg{-webkit-transition:all 300ms ease-in 0s;-moz-transition:all 300ms ease-in 0s;-o-transition:all 300ms ease-in 0s;transition:all 300ms ease-in 0s;height:10px;width:10px;}
         #onetrust-pc-sdk .ot-arw{width:10px;margin-left:15px;transition:all 300ms ease-in 0s;-webkit-transition:all 300ms ease-in 0s;-moz-transition:all 300ms ease-in 0s;-o-transition:all 300ms ease-in 0s;}
         #onetrust-pc-sdk .back-btn-handler{font-size:1em;text-decoration:none;}
         #onetrust-pc-sdk .back-btn-handler:hover{opacity:.6;}
         #onetrust-pc-sdk #ot-lst-title h3{display:inline-block;word-break:break-word;word-wrap:break-word;margin-bottom:0;color:#656565;font-size:1em;font-weight:bold;margin-left:15px;}
         #onetrust-pc-sdk #ot-lst-title{margin:10px 0 10px 0px;font-size:1em;text-align:left;}
         #onetrust-pc-sdk #ot-pc-hdr{margin:0 0 0 30px;height:auto;width:auto;}
         #onetrust-pc-sdk #ot-pc-hdr input::placeholder{color:#707070;font-style:italic;}
         #onetrust-pc-sdk #vendor-search-handler{height:31px;width:100%;border-radius:50px;font-size:.8em;padding-right:35px;padding-left:15px;float:left;margin-left:15px;}
         #onetrust-pc-sdk #ot-lst-cnt{overflow-y:auto;margin-left:20px;margin-right:7px;width:calc(100% - 27px);max-height:calc(100% - 80px);height:100%;transform:translate3d(0, 0, 0);}
         #onetrust-pc-sdk #ot-pc-lst{width:100%;bottom:100px;position:absolute;top:60px;}
         #onetrust-pc-sdk #ot-sel-blk{overflow:hidden;width:100%;position:sticky;position:-webkit-sticky;top:0;z-index:3;}
         #onetrust-pc-sdk #ot-back-arw{height:12px;width:12px;}
         #onetrust-pc-sdk .ot-lst-subhdr{width:100%;display:inline-block;}
         #onetrust-pc-sdk .ot-search-cntr{float:left;width:78%;position:relative;}
         #onetrust-pc-sdk .ot-search-cntr>svg{width:30px;height:30px;position:absolute;float:left;right:-15px;}
         #onetrust-pc-sdk .ot-fltr-cntr{float:right;right:50px;position:relative;}
         #onetrust-pc-sdk #filter-btn-handler{background-color:#3860be;border-radius:17px;display:inline-block;position:relative;width:32px;height:32px;-moz-transition:.1s ease;-o-transition:.1s ease;-webkit-transition:1s ease;transition:.1s ease;padding:0;margin:0;}
         #onetrust-pc-sdk #filter-btn-handler:hover{background-color:#3860be;}
         #onetrust-pc-sdk #filter-btn-handler svg{width:12px;height:12px;margin:3px 10px 0 10px;display:block;position:static;right:auto;top:auto;}
         #onetrust-pc-sdk #ot-fltr-modal{width:100%;height:auto;display:none;-moz-transition:.2s ease;-o-transition:.2s ease;-webkit-transition:2s ease;transition:.2s ease;overflow:hidden;opacity:1;right:0;}
         #onetrust-pc-sdk #ot-fltr-modal .ot-label-txt{display:inline-block;font-size:.85em;color:dimgray;}
         #onetrust-pc-sdk #ot-fltr-cnt{z-index:2147483646;background-color:#fff;position:absolute;height:90%;max-height:300px;width:325px;left:210px;margin-top:10px;margin-bottom:20px;padding-right:10px;border-radius:3px;-webkit-box-shadow:0px 0px 12px 2px #c7c5c7;-moz-box-shadow:0px 0px 12px 2px #c7c5c7;box-shadow:0px 0px 12px 2px #c7c5c7;}
         #onetrust-pc-sdk .ot-fltr-scrlcnt{overflow-y:auto;overflow-x:hidden;clear:both;max-height:calc(100% - 60px);}
         #onetrust-pc-sdk #ot-anchor{border:12px solid rgba(0,0,0,0);display:none;position:absolute;z-index:2147483647;right:55px;top:75px;transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);background-color:#fff;-webkit-box-shadow:-3px -3px 5px -2px #c7c5c7;-moz-box-shadow:-3px -3px 5px -2px #c7c5c7;box-shadow:-3px -3px 5px -2px #c7c5c7;}
         #onetrust-pc-sdk .ot-fltr-btns{margin-left:15px;}
         #onetrust-pc-sdk #filter-apply-handler{margin-right:15px;}
         #onetrust-pc-sdk .ot-fltr-opt{margin-bottom:25px;margin-left:15px;width:75%;position:relative;}
         #onetrust-pc-sdk .ot-chkbox label span{font-size:.85em;color:dimgray;}
         #onetrust-pc-sdk .ot-chkbox input[type=checkbox]+label::after{content:none;color:#fff;}
         #onetrust-pc-sdk .ot-chkbox input[type=checkbox]:checked+label::after{content:"";}
         #onetrust-pc-sdk .ot-chkbox input[type=checkbox]:focus+label::before{outline-style:solid;outline-width:2px;outline-style:auto;}
         #onetrust-pc-sdk #ot-selall-vencntr,#onetrust-pc-sdk #ot-selall-hostcntr,#onetrust-pc-sdk #ot-selall-licntr{right:15px;position:relative;width:20px;height:20px;float:right;}
         #onetrust-pc-sdk #ot-selall-vencntr label,#onetrust-pc-sdk #ot-selall-hostcntr label,#onetrust-pc-sdk #ot-selall-licntr label{float:left;padding-left:0;}
         #onetrust-pc-sdk .ot-cat-item>button:focus{outline:#000 solid 2px;}
         #onetrust-pc-sdk .ot-cat-item>button{position:absolute;cursor:pointer;width:100%;height:100%;margin:0;top:0;left:0;z-index:1;max-width:none;border:none;}
         #onetrust-pc-sdk .ot-cat-item>button[aria-expanded=false]~.ot-acc-txt{margin-top:0;max-height:0;opacity:0;overflow:hidden;width:100%;transition:.25s ease-out;display:none;}
         #onetrust-pc-sdk #ot-category-title{float:left;padding-bottom:10px;font-size:1em;width:100%;}
         #onetrust-pc-sdk .ot-cat-grp{margin-top:10px;}
         #onetrust-pc-sdk .ot-cat-item{line-height:1.1;margin-top:10px;display:inline-block;width:100%;}
         #onetrust-pc-sdk .ot-btn-container{text-align:right;}
         #onetrust-pc-sdk .ot-btn-container button{display:inline-block;font-size:.75em;letter-spacing:.08em;margin-top:19px;}
         #onetrust-pc-sdk #close-pc-btn-handler.ot-close-icon{position:absolute;top:10px;right:0;z-index:1;padding:0;background-color:rgba(0,0,0,0);border:none;}
         #onetrust-pc-sdk #clear-filters-handler{margin-top:20px;margin-bottom:10px;float:right;max-width:200px;text-decoration:none;color:#3860be;font-size:.9em;font-weight:bold;background-color:rgba(0,0,0,0);border-color:rgba(0,0,0,0);padding:1px;}
         #onetrust-pc-sdk #clear-filters-handler:hover{color:#2285f7;}
         #onetrust-pc-sdk #clear-filters-handler:focus{outline:#000 solid 1px;}
         #onetrust-pc-sdk .ot-enbl-chr h4~.ot-tgl,#onetrust-pc-sdk .ot-enbl-chr h4~.ot-always-active{right:45px;}
         #onetrust-pc-sdk #ot-selall-vencntr label,#onetrust-pc-sdk #ot-selall-hostcntr label,#onetrust-pc-sdk #ot-selall-licntr label{position:relative;display:inline-block;width:20px;height:20px;}
         #onetrust-pc-sdk .ot-cat-header{width:calc(100% - 130px);}
         #onetrust-pc-sdk .ot-acc-grpcntr .ot-acc-grpdesc{margin-bottom:5px;}
         #onetrust-pc-sdk .ot-sel-all-hdr,#onetrust-pc-sdk .ot-sel-all-chkbox{display:inline-block;width:100%;position:relative;}
         #onetrust-pc-sdk .ot-sel-all-chkbox{z-index:1;}
         #onetrust-pc-sdk .ot-sel-all{margin:0;position:relative;padding-right:23px;float:right;}
         #onetrust-pc-sdk .ot-consent-hdr,#onetrust-pc-sdk .ot-li-hdr{float:right;font-size:.812em;line-height:normal;text-align:center;word-break:break-word;word-wrap:break-word;}
         #onetrust-pc-sdk .ot-li-hdr{max-width:100px;padding-right:10px;}
         #onetrust-pc-sdk .ot-consent-hdr{max-width:55px;}
         #onetrust-pc-sdk #ot-selall-licntr{display:block;width:21px;height:auto;float:right;position:relative;right:80px;}
         #onetrust-pc-sdk #ot-selall-licntr label{position:absolute;}
         #onetrust-pc-sdk #ot-lst-cnt .ot-chkbox{position:relative;display:inline-block;width:20px;height:20px;}
         #onetrust-pc-sdk #ot-lst-cnt .ot-chkbox label{position:absolute;padding:0;width:20px;height:20px;}
         #onetrust-pc-sdk .ot-cat-header{float:left;font-weight:600;font-size:.875em;line-height:1.5;max-width:90%;vertical-align:middle;}
         #onetrust-pc-sdk .ot-accordion-layout.ot-cat-item{position:relative;border-radius:2px;margin:0;padding:0;border:1px solid #d8d8d8;border-top:none;width:calc(100% - 2px);float:left;}
         #onetrust-pc-sdk .ot-accordion-layout.ot-cat-item:first-of-type{margin-top:10px;border-top:1px solid #d8d8d8;}
         #onetrust-pc-sdk .ot-accordion-layout .ot-acc-grpdesc{padding-left:20px;padding-right:20px;width:calc(100% - 40px);font-size:.812em;margin-bottom:10px;margin-top:15px;}
         #onetrust-pc-sdk .ot-accordion-layout .ot-acc-hdr{padding-top:11.5px;padding-bottom:11.5px;padding-left:20px;padding-right:20px;width:calc(100% - 40px);display:inline-block;}
         #onetrust-pc-sdk .ot-accordion-layout .ot-acc-txt{width:100%;padding:0;}
         #onetrust-pc-sdk .ot-accordion-layout .ot-acc-grpcntr{z-index:1;position:relative;}
         #onetrust-pc-sdk .ot-accordion-layout .ot-cat-header{float:none;color:#2e3644;margin:0;display:inline-block;height:auto;word-wrap:break-word;min-height:inherit;}
         #onetrust-pc-sdk .ot-accordion-layout .ot-acc-hdr{position:relative;min-height:25px;}
         #onetrust-pc-sdk .ot-accordion-layout h4~.ot-tgl,#onetrust-pc-sdk .ot-accordion-layout h4~.ot-always-active{position:absolute;top:50%;transform:translateY(-50%);right:20px;}
         #onetrust-pc-sdk #ot-lst-cnt{margin-top:1rem;max-height:calc(100% - 96px);}
         #onetrust-pc-sdk .ot-vs-config .ot-acc-hdr{padding:.7rem 0;margin:0;display:flex;width:100%;align-items:center;justify-content:space-between;}
         #onetrust-pc-sdk .ot-vs-config .ot-acc-hdr div:last-child{margin-right:.5rem;margin-left:.5rem;}
         #onetrust-pc-sdk .ot-vs-config .ot-acc-hdr .ot-always-active{position:relative;right:unset;top:unset;transform:unset;}
         #onetrust-pc-sdk .ot-vs-config .ot-acc-hdr .ot-arw-cntr{float:none;top:unset;right:unset;transform:unset;margin-top:-2px;position:relative;}
         #onetrust-pc-sdk .ot-vs-config .ot-acc-hdr .ot-cat-header{flex:1;margin:0 .5rem;}
         #onetrust-pc-sdk .ot-vs-config .ot-acc-hdr .ot-tgl{position:relative;transform:none;right:0;top:0;float:none;}
         @media only screen and (max-width: 600px){
         #onetrust-pc-sdk.otPcCenter{left:0;min-width:100%;height:100%;top:0;border-radius:0;}
         #onetrust-pc-sdk #ot-pc-content{margin:1px 3px 0 10px;padding-right:10px;width:calc(100% - 23px);}
         #onetrust-pc-sdk .ot-btn-container button{max-width:none;letter-spacing:.01em;}
         #onetrust-pc-sdk #close-pc-btn-handler{top:10px;right:17px;}
         #onetrust-pc-sdk p{font-size:.7em;}
         #onetrust-pc-sdk #ot-pc-hdr{margin:10px 10px 0 5px;width:calc(100% - 15px);}
         #onetrust-pc-sdk #ot-back-arw{margin-left:12px;}
         #onetrust-pc-sdk #ot-lst-cnt{margin:0;padding:0 5px 0 10px;min-width:95%;}
         #onetrust-pc-sdk #ot-fltr-cnt{max-width:320px;width:90%;border-top-right-radius:0;border-bottom-right-radius:0;margin:0;margin-left:15px;left:auto;right:40px;top:85px;}
         #onetrust-pc-sdk .ot-fltr-opt{margin-left:25px;margin-bottom:10px;}
         #onetrust-pc-sdk #ot-fltr-cnt{right:40px;}
         }
         @media only screen and (max-width: 476px){
         #onetrust-pc-sdk .ot-fltr-cntr,#onetrust-pc-sdk #ot-fltr-cnt{right:10px;}
         #onetrust-pc-sdk #ot-anchor{right:25px;}
         #onetrust-pc-sdk button{width:100%;}
         }
         @media only screen and (max-width: 896px)and (max-height: 425px)and (orientation: landscape){
         #onetrust-pc-sdk.otPcCenter{left:0;top:0;min-width:100%;height:100%;border-radius:0;}
         #onetrust-pc-sdk .ot-pc-header{height:auto;min-height:20px;}
         #onetrust-pc-sdk .ot-pc-header .ot-pc-logo{max-height:30px;}
         #onetrust-pc-sdk .ot-pc-footer{max-height:60px;overflow-y:auto;}
         #onetrust-pc-sdk #ot-pc-content,#onetrust-pc-sdk #ot-pc-lst{bottom:70px;}
         #onetrust-pc-sdk #ot-anchor{left:initial;right:50px;}
         #onetrust-pc-sdk #ot-lst-title{margin-top:12px;}
         #onetrust-pc-sdk #ot-lst-title *{font-size:inherit;}
         #onetrust-pc-sdk #ot-pc-hdr input{margin-right:0;padding-right:45px;}
         #onetrust-pc-sdk #ot-sel-blk{position:static;}
         #onetrust-pc-sdk #ot-pc-lst{overflow:auto;}
         #onetrust-pc-sdk #ot-lst-cnt{max-height:none;overflow:initial;}
         #onetrust-pc-sdk input{font-size:1em!important;}
         #onetrust-pc-sdk p{font-size:.6em;}
         #onetrust-pc-sdk #ot-fltr-modal{width:100%;top:0;}
         }
         #onetrust-consent-sdk #onetrust-pc-sdk,#onetrust-consent-sdk #onetrust-pc-sdk #ot-pc-title:after,#onetrust-consent-sdk #onetrust-pc-sdk #ot-sel-blk,#onetrust-consent-sdk #onetrust-pc-sdk #ot-fltr-cnt,#onetrust-consent-sdk #onetrust-pc-sdk #ot-anchor{background-color:#FFFFFF;}
         #onetrust-consent-sdk #onetrust-pc-sdk h3,#onetrust-consent-sdk #onetrust-pc-sdk h4,#onetrust-consent-sdk #onetrust-pc-sdk p,#onetrust-consent-sdk #onetrust-pc-sdk #ot-pc-desc,#onetrust-consent-sdk #onetrust-pc-sdk #ot-pc-title,#onetrust-consent-sdk #onetrust-pc-sdk .ot-sel-all-hdr span,#onetrust-consent-sdk #onetrust-pc-sdk #ot-pc-lst #ot-lst-title h3,#onetrust-consent-sdk #onetrust-pc-sdk .ot-label-status,#onetrust-consent-sdk #onetrust-pc-sdk .ot-chkbox label span,#onetrust-consent-sdk #onetrust-pc-sdk #clear-filters-handler,#onetrust-consent-sdk #onetrust-pc-sdk .ot-optout-signal{color:#696969;}
         #onetrust-consent-sdk #onetrust-pc-sdk .privacy-notice-link{color:#3860BE;}
         #onetrust-consent-sdk #onetrust-pc-sdk .ot-acc-grpcntr.ot-acc-txt{background-color:#F8F8F8;}
         #onetrust-consent-sdk #onetrust-pc-sdk             button:not(#clear-filters-handler):not(.ot-close-icon):not(#filter-btn-handler):not(.ot-remove-objection-handler):not(.ot-obj-leg-btn-handler):not([aria-expanded]):not(.ot-link-btn){background-color:#346E4A;border-color:#346E4A;color:#FFFFFF;}
         #onetrust-consent-sdk #onetrust-pc-sdk .ot-tgl input:focus + .ot-switch,.ot-switch .ot-switch-nob,.ot-switch .ot-switch-nob:before,#onetrust-pc-sdk .ot-chkbox input[type="checkbox"]:focus + label::before{outline-color:#000000;outline-width:1px;}
         #onetrust-consent-sdk #onetrust-pc-sdk *:focus{outline:1px solid #000000;}
         /*! CSS Used keyframes */
         @keyframes onetrust-fade-in{0%{opacity:0;}100%{opacity:1;}}
      </style>
   </head>
   <body>
    <div id="onetrust-consent-sdk" data-nosnippet="true">
       <div class="onetrust-pc-dark-filter ot-fade-in"></div>
       <div id="onetrust-pc-sdk" class="otPcCenter ot-fade-in" lang="en" aria-label="Preference center" role="region" style="height: 503.20000000000005px;">
          <div role="dialog" aria-modal="true" style="height: 100%;" aria-label="Privacy Preference Center">
             <div class="ot-pc-header">
                <!-- Logo Tag -->
                <div class="ot-pc-logo" role="img" aria-label="Company Logo"><img alt="Company Logo" src="https://cdn.cookielaw.org/logos/static/ot_company_logo.png"></div>
                <button id="close-pc-btn-handler" class="ot-close-icon" aria-label="Close" style="background-image: url(&quot;https://cdn.cookielaw.org/logos/static/ot_close.svg&quot;);" tabindex="0"></button>
             </div>
             <!-- Close Button -->
             <div id="ot-pc-content" class="ot-pc-scrollbar ot-enbl-chr">
                <div class="ot-optout-signal ot-hide">
                   <div class="ot-optout-icon">
                      <svg xmlns="http://www.w3.org/2000/svg">
                         <path class="ot-floating-button__svg-fill" d="M14.588 0l.445.328c1.807 1.303 3.961 2.533 6.461 3.688 2.015.93 4.576 1.746 7.682 2.446 0 14.178-4.73 24.133-14.19 29.864l-.398.236C4.863 30.87 0 20.837 0 6.462c3.107-.7 5.668-1.516 7.682-2.446 2.709-1.251 5.01-2.59 6.906-4.016zm5.87 13.88a.75.75 0 00-.974.159l-5.475 6.625-3.005-2.997-.077-.067a.75.75 0 00-.983 1.13l4.172 4.16 6.525-7.895.06-.083a.75.75 0 00-.16-.973z" fill="#FFF" fill-rule="evenodd"></path>
                      </svg>
                   </div>
                   <span></span>
                </div>
                <h2 id="ot-pc-title">Privacy Preference Center</h2>
                <div id="ot-pc-desc">When you visit any website, it may store or retrieve information on your browser, mostly in the form of cookies. This information might be about you, your preferences or your device and is mostly used to make the site work as you expect it to. The information does not usually directly identify you, but it can give you a more personalized web experience. Because we respect your right to privacy, you can choose not to allow some types of cookies. Click on the different category headings to find out more and change our default settings. However, blocking some types of cookies may impact your experience of the site and the services we are able to offer.
                   <br><a href="https://www.spotify.com/legal/cookies-policy/" class="privacy-notice-link" rel="noopener" target="_blank" aria-label="More information about your privacy, opens in a new tab" tabindex="0">Cookie Policy</a>
                </div>
                <button id="accept-recommended-btn-handler" style="display: none;" aria-hidden="true" tabindex="0">Allow All</button>
                <section class="ot-sdk-row ot-cat-grp">
                   <h3 id="ot-category-title"> Manage Consent Preferences</h3>
                   <div class="ot-accordion-layout ot-cat-item ot-vs-config" data-optanongroupid="s00">
                      <button aria-expanded="false" ot-accordion="true" aria-controls="ot-desc-id-s00" aria-labelledby="ot-header-id-s00 ot-status-id-s00"></button><!-- Accordion header -->
                      <div class="ot-acc-hdr ot-always-active-group">
                         <h4 class="ot-cat-header" id="ot-header-id-s00">Strictly Necessary Cookies</h4>
                         <div id="ot-status-id-s00" class="ot-always-active">Always Active</div>
                         <div class="ot-arw-cntr">
                            <svg class="ot-arw" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512">
                               <path fill="currentColor" d="M166.9 264.5l-117.8 116c-4.7 4.7-12.3 4.7-17 0l-7.1-7.1c-4.7-4.7-4.7-12.3 0-17L127.3 256 25.1 155.6c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0l117.8 116c4.6 4.7 4.6 12.3-.1 17z"></path>
                            </svg>
                         </div>
                      </div>
                      <!-- accordion detail -->
                      <div class="ot-acc-grpcntr ot-acc-txt">
                         <p class="ot-acc-grpdesc ot-category-desc" id="ot-desc-id-s00">These cookies are necessary for the service to function and cannot be switched off in our systems. They are usually only set in response to actions made by you which amount to a request for services, such as setting your privacy preferences, logging in or filling in forms. You can set your browser to block or alert you about these cookies, but some parts of the service will not then work. </p>
                      </div>
                   </div>
                   <div class="ot-accordion-layout ot-cat-item ot-vs-config" data-optanongroupid="f00">
                      <button aria-expanded="false" ot-accordion="true" aria-controls="ot-desc-id-f00" aria-labelledby="ot-header-id-f00"></button><!-- Accordion header -->
                      <div class="ot-acc-hdr">
                         <h4 class="ot-cat-header" id="ot-header-id-f00">First Party Functional Cookies</h4>
                         <div class="ot-tgl"><input type="checkbox" name="ot-group-id-f00" id="ot-group-id-f00" role="switch" class="category-switch-handler" data-optanongroupid="f00" checked="" aria-labelledby="ot-header-id-f00" tabindex="0"> <label class="ot-switch" for="ot-group-id-f00"><span class="ot-switch-nob"></span> <span class="ot-label-txt">First Party Functional Cookies</span></label> </div>
                         <div class="ot-arw-cntr">
                            <svg class="ot-arw" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512">
                               <path fill="currentColor" d="M166.9 264.5l-117.8 116c-4.7 4.7-12.3 4.7-17 0l-7.1-7.1c-4.7-4.7-4.7-12.3 0-17L127.3 256 25.1 155.6c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0l117.8 116c4.6 4.7 4.6 12.3-.1 17z"></path>
                            </svg>
                         </div>
                      </div>
                      <!-- accordion detail -->
                      <div class="ot-acc-grpcntr ot-acc-txt">
                         <p class="ot-acc-grpdesc ot-category-desc" id="ot-desc-id-f00">These cookies enable us to provide enhanced functionality and personalisation. If you do not allow these cookies then some or all of these services may not function properly.</p>
                      </div>
                   </div>
                   <div class="ot-accordion-layout ot-cat-item ot-vs-config" data-optanongroupid="m00">
                      <button aria-expanded="false" ot-accordion="true" aria-controls="ot-desc-id-m00" aria-labelledby="ot-header-id-m00"></button><!-- Accordion header -->
                      <div class="ot-acc-hdr">
                         <h4 class="ot-cat-header" id="ot-header-id-m00">First Party Performance Cookies</h4>
                         <div class="ot-tgl"><input type="checkbox" name="ot-group-id-m00" id="ot-group-id-m00" role="switch" class="category-switch-handler" data-optanongroupid="m00" checked="" aria-labelledby="ot-header-id-m00" tabindex="0"> <label class="ot-switch" for="ot-group-id-m00"><span class="ot-switch-nob"></span> <span class="ot-label-txt">First Party Performance Cookies</span></label> </div>
                         <div class="ot-arw-cntr">
                            <svg class="ot-arw" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512">
                               <path fill="currentColor" d="M166.9 264.5l-117.8 116c-4.7 4.7-12.3 4.7-17 0l-7.1-7.1c-4.7-4.7-4.7-12.3 0-17L127.3 256 25.1 155.6c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0l117.8 116c4.6 4.7 4.6 12.3-.1 17z"></path>
                            </svg>
                         </div>
                      </div>
                      <!-- accordion detail -->
                      <div class="ot-acc-grpcntr ot-acc-txt">
                         <p class="ot-acc-grpdesc ot-category-desc" id="ot-desc-id-m00">These cookies allow us to count visits and traffic sources so we can measure and improve the performance of our services. They help us to know which pages are the most and least popular and see how visitors move around the platform. If you do not allow these cookies we will not be able to monitor the performance of our services.</p>
                      </div>
                   </div>
                   <div class="ot-accordion-layout ot-cat-item ot-vs-config" data-optanongroupid="t00">
                      <button aria-expanded="false" ot-accordion="true" aria-controls="ot-desc-id-t00" aria-labelledby="ot-header-id-t00"></button><!-- Accordion header -->
                      <div class="ot-acc-hdr">
                         <h4 class="ot-cat-header" id="ot-header-id-t00"> First Party Targeting Cookies</h4>
                         <div class="ot-tgl"><input type="checkbox" name="ot-group-id-t00" id="ot-group-id-t00" role="switch" class="category-switch-handler" data-optanongroupid="t00" checked="" aria-labelledby="ot-header-id-t00" tabindex="0"> <label class="ot-switch" for="ot-group-id-t00"><span class="ot-switch-nob"></span> <span class="ot-label-txt"> First Party Targeting Cookies</span></label> </div>
                         <div class="ot-arw-cntr">
                            <svg class="ot-arw" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512">
                               <path fill="currentColor" d="M166.9 264.5l-117.8 116c-4.7 4.7-12.3 4.7-17 0l-7.1-7.1c-4.7-4.7-4.7-12.3 0-17L127.3 256 25.1 155.6c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0l117.8 116c4.6 4.7 4.6 12.3-.1 17z"></path>
                            </svg>
                         </div>
                      </div>
                      <!-- accordion detail -->
                      <div class="ot-acc-grpcntr ot-acc-txt">
                         <p class="ot-acc-grpdesc ot-category-desc" id="ot-desc-id-t00">These cookies may be used to deliver targeted advertisements and to build a profile of your interests. If you do not allow these cookies you will still experience advertising but it will be less tailored to you.</p>
                      </div>
                   </div>
                   <div class="ot-accordion-layout ot-cat-item ot-vs-config" data-optanongroupid="i00">
                      <button aria-expanded="false" ot-accordion="true" aria-controls="ot-desc-id-i00" aria-labelledby="ot-header-id-i00"></button><!-- Accordion header -->
                      <div class="ot-acc-hdr">
                         <h4 class="ot-cat-header" id="ot-header-id-i00">Store and access information on a device</h4>
                         <div class="ot-tgl"><input type="checkbox" name="ot-group-id-i00" id="ot-group-id-i00" role="switch" class="category-switch-handler" data-optanongroupid="i00" checked="" aria-labelledby="ot-header-id-i00" tabindex="0"> <label class="ot-switch" for="ot-group-id-i00"><span class="ot-switch-nob"></span> <span class="ot-label-txt">Store and access information on a device</span></label> </div>
                         <div class="ot-arw-cntr">
                            <svg class="ot-arw" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512">
                               <path fill="currentColor" d="M166.9 264.5l-117.8 116c-4.7 4.7-12.3 4.7-17 0l-7.1-7.1c-4.7-4.7-4.7-12.3 0-17L127.3 256 25.1 155.6c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0l117.8 116c4.6 4.7 4.6 12.3-.1 17z"></path>
                            </svg>
                         </div>
                      </div>
                      <!-- accordion detail -->
                      <div class="ot-acc-grpcntr ot-acc-txt">
                         <p class="ot-acc-grpdesc ot-category-desc" id="ot-desc-id-i00">Cookies, device or similar online identifiers together with other information (e.g. browser type and information, language, screen size, supported technologies, etc.) can be stored or read on your device to recognise it each time it connects to an app or to a website, for one or several of the purposes presented here.</p>
                      </div>
                   </div>
                   <div class="ot-accordion-layout ot-cat-item ot-vs-config" data-optanongroupid="f11">
                      <button aria-expanded="false" ot-accordion="true" aria-controls="ot-desc-id-f11" aria-labelledby="ot-header-id-f11"></button><!-- Accordion header -->
                      <div class="ot-acc-hdr">
                         <h4 class="ot-cat-header" id="ot-header-id-f11">Content Selection, Delivery, and Reporting</h4>
                         <div class="ot-tgl"><input type="checkbox" name="ot-group-id-f11" id="ot-group-id-f11" role="switch" class="category-switch-handler" data-optanongroupid="f11" checked="" aria-labelledby="ot-header-id-f11" tabindex="0"> <label class="ot-switch" for="ot-group-id-f11"><span class="ot-switch-nob"></span> <span class="ot-label-txt">Content Selection, Delivery, and Reporting</span></label> </div>
                         <div class="ot-arw-cntr">
                            <svg class="ot-arw" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512">
                               <path fill="currentColor" d="M166.9 264.5l-117.8 116c-4.7 4.7-12.3 4.7-17 0l-7.1-7.1c-4.7-4.7-4.7-12.3 0-17L127.3 256 25.1 155.6c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0l117.8 116c4.6 4.7 4.6 12.3-.1 17z"></path>
                            </svg>
                         </div>
                      </div>
                      <!-- accordion detail -->
                      <div class="ot-acc-grpcntr ot-acc-txt">
                         <p class="ot-acc-grpdesc ot-category-desc" id="ot-desc-id-f11">These cookies are set by a range of social media services that we have added to the site to enable you to share our content with your friends and networks. They are capable of tracking your browser across other sites and building up a profile of your interests. This may impact the content and messages you see on other websites you visit. If you do not allow these cookies you may not be able to use or see these sharing tools.</p>
                      </div>
                   </div>
                   <div class="ot-accordion-layout ot-cat-item ot-vs-config" data-optanongroupid="m03">
                      <button aria-expanded="false" ot-accordion="true" aria-controls="ot-desc-id-m03" aria-labelledby="ot-header-id-m03"></button><!-- Accordion header -->
                      <div class="ot-acc-hdr">
                         <h4 class="ot-cat-header" id="ot-header-id-m03">Match and combine data from other sources</h4>
                         <div class="ot-tgl"><input type="checkbox" name="ot-group-id-m03" id="ot-group-id-m03" role="switch" class="category-switch-handler" data-optanongroupid="m03" checked="" aria-labelledby="ot-header-id-m03" tabindex="0"> <label class="ot-switch" for="ot-group-id-m03"><span class="ot-switch-nob"></span> <span class="ot-label-txt">Match and combine data from other sources</span></label> </div>
                         <div class="ot-arw-cntr">
                            <svg class="ot-arw" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512">
                               <path fill="currentColor" d="M166.9 264.5l-117.8 116c-4.7 4.7-12.3 4.7-17 0l-7.1-7.1c-4.7-4.7-4.7-12.3 0-17L127.3 256 25.1 155.6c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0l117.8 116c4.6 4.7 4.6 12.3-.1 17z"></path>
                            </svg>
                         </div>
                      </div>
                      <div class="ot-acc-grpcntr ot-acc-txt">
                         <p class="ot-acc-grpdesc ot-category-desc" id="ot-desc-id-m03">Information about your activity on this service may be matched and combined with other information relating to you and originating from various sources (for instance your activity on a separate online service, or your answers to a survey), in support of the purposes explained in this notice.</p>
                      </div>
                   </div>
                </section>
             </div>
             <div class="ot-pc-footer ot-pc-scrollbar">
                <div class="ot-btn-container"> <button class="save-preference-btn-handler onetrust-close-btn-handler" tabindex="0">Confirm My Choices</button></div>
                <div class="ot-pc-footer-logo"><a href="https://www.onetrust.com/products/cookie-consent/" target="_blank" rel="noopener noreferrer" aria-label="Powered by OneTrust Opens in a new Tab" tabindex="0"><img alt="Powered by Onetrust" src="https://cdn.cookielaw.org/logos/static/powered_by_logo.svg" title="Powered by OneTrust Opens in a new Tab"></a></div>
             </div>
          </div>
       </div>
    </div>
 </body>
 </html>